<div class="home text-center">
    <section class="introduction py-5">
        <h3>VENHA FAZER PARTE DO NOSSO TIME E TENHA UMA RENDA EXTRA!</h3>
        <h4 class="mt-4">SEJA UM(A) CONSULTOR(A) NATURA</h4>
    </section>

    <section class="andrea-info d-flex align-items-center">
        <div class="andrea-photo">
            <img
                class="img-fluid"
                src="assets/images/andrea.png"
                alt="Foto de Andrea"
            />
        </div>

        <div class="info">
            <h3>Sou <span class="name">Andréa Portela</span></h3>
            <h4>Líder de Negócios Natura</h4>
        </div>
    </section>
    <div class="text-bg-success p-3">
        <span> Atendimento na Cidade de Campina Grande - PB </span>
    </div>

    <section class="contacts py-5">
        <h2>Cadastre-se e seja um(a) Consultor(a) Natura!</h2>

        <div class="main-information mt-4 d-flex flex-column">
            <h4>Cadastro e início IMEDIATO pelo whatsapp.</h4>

            <h5>NÃO TEM KIT INÍCIO!</h5>

            <h6>Vendas Presencial e On-line</h6>
            <h6>Ganhos de até 35%</h6>
            <h6>Loja Virtual Gratuita</h6>
            <h6>Conta Digial com link de pagamento</h6>
        </div>

        <div class="buttons mt-4 d-flex justify-content-center flex-wrap">
            <a
                href="https://api.whatsapp.com/send/?phone=55083988116156"
                target="_blank"
                class="btn btn-success m-3"
            >
                <img
                    src="assets/icons/whatsapp.svg"
                    alt="Icone de Whatsapp"
                    width="30"
                />
                <span>Cadastre-se</span>
            </a>

            <a href="tel:+55083988116156" class="btn btn-primary m-3">
                <img
                    src="assets/icons/phone-solid.svg"
                    alt="Icone de Telefone"
                    width="30"
                />
                <span>Ligue e saiba mais</span>
            </a>

            <a href="mailto:andreafap@gmail.com" class="btn btn-light m-3">
                <img
                    class="email"
                    src="assets/icons/envelope-solid.svg"
                    alt="Icone de E-mail"
                    width="30"
                />
                <span>Me envie um E-mail</span>
            </a>
        </div>
    </section>

    <section class="benefits py-5">
        <h2>Benefícios de ser um(a) Consultor(a) Natura!</h2>

        <div class="list">
            <ul>
                <li class="mb-3">
                    Ganhos Diferenciados: As consultoras contam com Plano de
                    Crescimento de 5 Níveis (Semente, Bronze, Prata, Ouro e
                    Diamante
                </li>
                <li class="mb-3">
                    Vendas pela internet: uma página exclusiva para você
                    divulgar e realizar a prestação do serviço de Consultoria,
                    sem sair de casa
                </li>
                <li class="mb-3">
                    Reconhecimento: prêmios, jóias, concursos, carro, viagens e
                    outro benefícios
                </li>
                <li class="mb-3">
                    Educação: descontos exclusivos e cursos gratuitos para você
                    e sua família. Mais de 80 opções de cursos entre: graduação
                    e pós, idiomas e profissionalizantes
                </li>
            </ul>
        </div>
    </section>
</div>
